.about-us-sec {
  width: 1080px;
  margin: auto;
  max-width: 100% !important;
  video{
    border-radius: 40px;

  }

h2{
font-family: "Almarai";
font-size: 40px;
font-weight: 800;
line-height: 44.64px;
text-align: center;
margin-top: 50px;
}
P{
  color: var(--dark, #252525);
  text-align: center;
  font-family: "Almarai";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  width: 592px;
  margin: 30px auto;
}





}
.tripia-info .container .text .box-info li {
margin-right: 20px;
}
.tripia-info .container .text .box-info p {
margin: 0;
}

